*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	width: 1200px;
	margin: 0 auto;
}
header{
	height: 890px;
	background-color: #262350;	
}
nav{
	display: flex;
	align-items: center;
}
.nav__search {
	width: 300px;
	height: 45px;
	font-size: 26px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #f9c116;
	margin-right: 10px;
}
.nav__button{
	font-size: 26px;
	font-family: 'Open Sans Condensed', sans-serif;
	width: 100px;
	height: 45px;
	font-weight: 600;
	background-color: #262350;
	color: #f9c116;
	border: 2px solid white;
}
.wrapper_nav{
	padding: 0 20px;
	display: flex;
	align-items: center;
	background-color: #262350;
	height: 5em;
	border-bottom: 3px solid white;
}
.wrapper_nav img{
	width: 3em;
	height: 3em;
}
.wrapper_nav nav a{
	text-decoration: none;
	color: white;
	font-size: 2em;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0 25px;
	font-weight: bold;
}
.wrapper_nav nav a:hover{
	border-bottom: 2px solid white;
}
h1{
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}
.info{
	width: 1200px;
	height: 450px;
	padding: 40px 60px;
	font-size: 1.2em;
	font-family: 'PT Sans Narrow', sans-serif;
	border: 3px solid #262350;
}
.info p{
	margin: 20px 0;
}
.material-icons {
	position: fixed;
	z-index: 9999;
	top: 97%;
	left: 82%;
	font-weight: bold;
}
.cards_main_wrapper{
	display: flex;
	flex-flow: row wrap;
	background-color: #262350;
}
.card_column {
	display: flex;
	flex-flow: column nowrap;
}
.card{
	display: flex;
	flex-flow: column wrap;
	background-color: #fff;
	margin: 3px;
	align-items: center;
	width: 394px;
	height: 250px;
	padding: 20px 0;
}
.card__icon{
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	height: 64px;
	width: 64px;
	margin: 10px;
}
.moscow{
	background-image: url(moscow.png);
}
.big-ben{
	background-image: url(big-ben.png);
}
.pyramids{
	background-image: url(pyramids.png);
}
.north-america{
	background-image: url(north-america.png);
}
.south-america{
	background-image: url(south-america.png);
}
.kangaroo{
	background-image: url(kangaroo.png);
}

.card__h3{
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	color: darkslategray;
}
.card_line{
	width: 80px;
	height: 3px;
	background-color: #f9c116;
	margin: 15px 0;
}
.card_p{
	font-size: 22px;
}
.faq{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid #262350;
    padding: 30px 20px;
    box-sizing: border-box;
}
.faq__main_wrapper{
	background-color: #262350;
	font-size: 20px;
}
.faq__h3{
	text-align: center;
	font-size: 32px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #f9c116;
	padding: 20px 0;
}
.faq h3{
    margin-bottom: 20px;
}
.faq-item{
    width: 100%;
    border: 5px solid black;
}
.faq-item-quest{
    padding: 15px;
    background-color: #262350;
    color: white;
    cursor: pointer;
}
.faq-item-answer{
    padding: 15px;
    display: none;
}
footer{
	width: 1200px;
	
	background-color: #262350;
	padding: 40px 60px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	display: flex;
}
footer p{
	margin: 10px 0;
}
.yellow{
	color: #f9c116;
}
.material-icons {
	position: fixed;
	z-index: 9999;
	top: 97%;
	left: 82%;
	font-weight: bold;
}

.arrow_top{
	background-image: url(https://cdn2.iconfinder.com/data/icons/arrows-part-1/32/tiny-arrow-top-2-512.png);
	height: 36px;
	width: 36px;
	background-size: contain;
	position: fixed;
	top: 90%;
	left: 90%;
}
.form-request{
    display: flex;
    justify-content: center;
}
.form-request-button-box-content{
    cursor: pointer;
}
.form-request-button{
	color: #f9c116;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 600;
	font-size: 36px;
}
.see{
    display: flex;
}
.hidden{
    display: none;
}
.form-request-popup{
    /* display: none; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 40%;
    background-color: grey;
    z-index: 1;

}
.form-request-popup-close{
    position: absolute;
    width: 40px;
    height: 40px;
    right: -10px;
    top: -10px;
    cursor: pointer;
    background-image: url(https://icon-icons.com/icons2/1157/PNG/48/1487086345-cross_81577.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50px;
    background-color: white;
    border: 2px solid black;
}
.close_dark{
    background-color: #EEA51E;
    border: 2px solid #0E2158;
    position: absolute;
    width: 40px;
    height: 40px;
    right: -10px;
    top: -10px;
    cursor: pointer;
    background-image: url(https://icon-icons.com/icons2/1157/PNG/48/1487086345-cross_81577.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50px;
}
.close_white{
    background-color: white;
    border: 2px solid #94C8CC;
    position: absolute;
    width: 40px;
    height: 40px;
    right: -10px;
    top: -10px;
    cursor: pointer;
    background-image: url(https://icon-icons.com/icons2/1157/PNG/48/1487086345-cross_81577.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50px;
}
.close_flower{
    background-color: #F6C2B6;
    border: 2px solid #7D2B2B;
    position: absolute;
    width: 40px;
    height: 40px;
    right: -10px;
    top: -10px;
    cursor: pointer;
    background-image: url(https://icon-icons.com/icons2/1157/PNG/48/1487086345-cross_81577.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50px;
}
.form-request-popup-content{
    position: relative;
    padding: 20px;
    background-color: white;
    width: 400px;
    box-sizing: border-box;
    color: black;
    border: 1px solid black;
}
.form-request-popup h3{
    font-size: 25px;
    
    
}
.form-request-popup-content form{
    width: 100%;
    margin-top: 10px;
}
form{
    display: flex;
    flex-flow: column nowrap;
    
}
.form-request-input{
    margin-bottom: 20px;
    font-size: 20px;
    padding: 5px;
}
textarea{
    margin-bottom: 10px;
}
button[type="submit"]{
    width: 100px;
    align-self: flex-end;
    padding: 10px;
}
.submit:hover{
	cursor: pointer;
}
.alt_dark{
    background-color: #22274A;
    position: relative;
    color: #DA9A07;
    box-sizing: border-box;
    border: 2px solid #DA9A07;
    padding: 20px;
    width: 400px;
}
.alt_dark_button{
    background-color: #303E79;
    color: #DA9A07;
    border: 2px solid #DA9A07;
}
.alt_white{
    background-color: white;
    position: relative;
    color: #89BCC3;
    box-sizing: border-box;
    border: 2px solid #89BCC3;
    padding: 20px;
    width: 400px; 
    background-image: url(https://userscontent2.emaze.com/images/8be2e7dc-dbdb-4b47-b987-a49f187d2594/5d8085792f693560bdac5718f936dbac.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.alt_white_button{
    color: white;
    border: 2px solid white;
    background-color: #89BCC3;
}
.alt_flower{
    background-image: url(https://c.wallhere.com/photos/9c/30/forest_Firewatch_minimalism_orange_red_pine_trees_tabbetz-72105.png!d);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #7D2B2B;
    box-sizing: border-box;
    border: 2px solid #7D2B2B;
    padding: 20px;
    width: 400px; 
}
.alt_flower_button{
    background-color: #7D2B2B;
    color: #D7C8A6;
    border: 2px solid #D7C8A6;
}
.error-message{
    margin-top: 15px;
    font-size: 19px;
    color: red;
    font-weight: 600;
}